<h3>所有培训场景</h3>
<div class="clearfix">

</div>

<hr class="clearfix">

<div class="scene-index" style= "clear:both;">
  <% @scenes.each do |scene| %>
  <div style= "clear:both;">
      <%= link_to(scene.title, scene_path(scene)) %>

    <% end %>
  </div>
</div>
