<div class= "scene-index-frame">
  <h3>所有培训场景</h3>


  <hr class="clearfix">

  <div class="scene-index">
    <% @scenes.each do |scene| %>
      <div class= "scene-index-item">
          <%= link_to(scene.title, scene_path(scene)) %>
      </div>
    <% end %>
  </div>
</div>
