  <div class=" operation-manual">
    

    <h3 class="operation-manual-title" >场景“<%= @scene.title %>”的操作手册</h3>

    <p class="operation-manual-description"><%= simple_format(@scene.description) %></p>
  </div>
