<div class="">
  <% if @lights.present? %>
    <% @lights.each do |light| %>
      <%= render_light_status(light) %>
    <% end %>
  <% end %>
</div>

<div class="">
  <% if @switches.present? %>
    <% @switches.each do |switch| %>
      <%= link_to(switch.title,light_toggle_scene_switch_path(@scene,switch),method: :post) %>
    <% end %>
  <% end %>
</div>

<%=link_to("创建开关", new_scene_switch_path(@scene))%>
<%= link_to("创建指示灯", new_scene_light_path(@scene))%>
