<h3>所有培训场景</h3>
<div class="clearfix">
  <div class="pull-right " >
    <%= link_to("创建场景", new_admin_scene_path, class:"btn btn-info")%>
  </div>
</div>

<hr class="clearfix">

<div class="scene-index" style= "clear:both;">
  <% @scenes.each do |scene| %>
    <div class="admin-scene-item">
      <%= link_to(scene.title, admin_scene_path(scene)) %>
      <span class="admin-scene-option">
        <%= link_to("编辑", edit_admin_scene_path(scene),class: "btn btn-primary") %>
        <%= link_to("删除", admin_scene_path(scene), class: "btn btn-danger") %>
      </span>
    </div>
  <% end %>
</div>
