/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";

html{
  height:100%;
}
body{
  height:100%;
  width:100%;
}

.admin-frame{
  min-height:100%;
  width:100%;
  padding-bottom:100px;
  margin-bottom:-100px;
}
.admin-yield-frame{
  width:80%;
  margin:0 auto;
}
.admin-scene-item{
  height:30px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.admin-scene-option{
  float:right;
  height:30px;
  line-height: 30px;
  clear:both;

}
.application-frame{
  width:100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // background-color: red;
  padding-bottom:100px;
  margin-bottom:-100px;
}
.footer-frame{
  height:100px;
  padding-top:30px;
}

.scene-index-frame{
  width:70%;
  min-height:100%;
  height:auto !important;
  height:100%;
  padding-top: 20px;
  padding-bottom: 20px;
  // background-color: green;
  margin:0 auto;
  padding-bottom: 100px;
  margin-bottom: -100px;
}
.scene-index{
  height:100%;
  background-color: #E5E8BA;
  padding-top:20px;
  padding-bottom: 20px;

}
.scene-index-item{
  margin-left:20px;
  clear:both;
  clear:left;
  margin-top:30px;
  overflow: auto;
}
