// Place all the styles related to the scenes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.light-frame{
  width:80%;
  height:300px;
  margin:20px auto;
  background-color: #E5E8BA;
  padding-top:50px;
}
.light-frame-position{
  text-align: center;
  margin-bottom: 30px;
}
.switch-frame{
  width:80%;
  margin:0 auto;
  margin-top:40px;
  height:100px;
  background-color:#D5C581;
  .switch-frame-position{
    margin-top: 20px;
    text-align: center;
  }
}
.operate-scene{
   width: 80%;
   margin:0 auto;
   text-align: center;
}
.option-frame{
  width:80%;
  height:50px;
  padding-top:10px;
  padding-left: 100px;
  background-color:#0B1C22;
  margin: 0 auto;
}
